<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename="css/style.css")}}"
    />
  </head>

  <body>
    <div class="container">
      <h2>Please Login to Continue</h2>
      <form action="http://127.0.0.1:5000/welcome" method="post">
        <label for="uname">Name</label>
        <input type="text" name="uname" /><br />
        <label for="pass">Password</label>
        <input type="password" name="pass" /><br />
        <input type="Submit" />
      </form>
    </div>
  </body>
</html>
